body{
    background-color: rgb(244, 245, 240);
}
main{
    margin:2%;
}

.btn-leer{
   background-color:   #eb2ed1;
   border: none;

   
}

.btn-a-portafolio{
 background-color: rgb(245, 245, 22);
   border: none;
   color: black
}
.title-h1{
    text-align: center;
    color: #1e4ed8;
    font-size: large;
    font-weight: bold;
}
.portafolio-container {
  max-width: 800px;
  margin:auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  font-family: "Inter", sans-serif;
  line-height: 1.7;
  color: #333;
  
}

.portafolio-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #2a3b8f;
  font-weight: 700;
}

.portafolio-container p {
  margin-bottom: 18px;
  font-size: 16px;
}

.portafolio-container strong {
  color: #1e4ed8;
}
